.select-wrap{
	min-width: 436px;
	display: inline-flex;
	align-self: center;
	justify-content: space-between;
	background-color: #fff;
	box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
	box-sizing: border-box;
	margin: 16px 0;
	padding: 16px;
	border-radius: 3px;
}

