.card {
	box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
	border-radius: 3px;
	padding: 8px;
	margin-bottom: 16px;
	background-color: #fff;
	color: rgb(145, 151, 163);
}

.card-title {
	color: #000;
}